/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */

.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}

.logo {
  width: 150px;
  height: 80px;
  margin: 70px 0px 0px 0px;
}


